<div class="messages">
	<div class="message" ng-repeat="item in events">
		<img src="https://avatars.githubusercontent.com/{{pullRequest.login}}?s=130">
		<div class="info">
			<div class="date">{{item.created_at}}</div>
			<div class="what"><b>{{item.login}}</b> <span ng-if="item.type == 'PushEvent'">pushed to <b>{{item.branch | branchName}}</b> at</span><span ng-if="item.type == 'PullRequestEvent'">opened pull request</span> <b>{{item.repo_owner}}/{{item.repo}}</b></div>
			<div class="why">{{item.title}}</div>
		</div>
	</div>
</div>

<div class="statisctics">

	<div class="pullRequests">
		<label>Pull Requests</label>
		<span>{{counters.PullRequestEvent}}</span>
	</div>

	<div class="pushes">
		<label>Pushes</label>
		<span>{{counters.PushEvent}}</span>
	</div>

</div>

<div class="publicMessage" ng-show="showPublicMessage">{{publicMessage}}</div>

<div id="pullRequestModal" class="pullRequest" ng-show="showPullRequest">

	<img src="https://avatars.githubusercontent.com/{{pullRequest.login}}?s=260">

	<div class="stars">
		<div class="tl"></div>
		<div class="cl"></div>
		<div class="bl"></div>
		<div class="tr"></div>
		<div class="cr"></div>
		<div class="br"></div>
	</div>

	<h1>New pull request</h1>

	<div class="message"><b>{{pullRequest.login}}</b> opened pull request <b>{{pullRequest.repo_owner}}/{{pullRequest.repo}}</b></div>
	<div class="comment">{{pullRequest.title}}</div>

</div>

<div class="connectionStatus {{indicator}}"></div>